amqp==5.1.1
certifi==2023.7.22
charset-normalizer==3.1.0
dnspython==2.3.0
eventlet==0.33.3
greenlet==2.0.2
idna==3.7
kombu==5.2.4
MarkupSafe==2.1.2
mock==5.0.1
nameko==2.14.1
packaging==23.0
path==16.6.0
path.py==12.5.0
PyYAML==6.0
requests==2.31.0
six==1.16.0
urllib3==1.26.18
vine==5.0.0
Werkzeug==3.0.1
wrapt==1.15.0
