amqp==5.1.1
certifi==2024.7.4
charset-normalizer==3.1.0
dnspython==2.6.1
eventlet==0.40.3
greenlet==2.0.2
idna==3.7
kombu==5.2.4
MarkupSafe==2.1.2
mock==5.0.1
nameko==2.14.1
packaging==23.0
path==16.6.0
path.py==12.5.0
PyYAML==6.0
requests==2.32.4
six==1.16.0
urllib3==2.6.0
vine==5.0.0
Werkzeug==3.1.4
wrapt==1.15.0
